# Docker Compose configuration for MongoDB service used in acceptance tests

services:
  mongo:
    container_name: "mongo-acceptance-tests"
    image: mongo:8.2.1
    environment:
      MONGO_INITDB_DATABASE: goat-it-api-acceptance-tests
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_container:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

volumes:
  mongodb_data_container:
