# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=3000

# CORS Configuration
CORS_ORIGIN=*

# MongoDB Database Configuration
MONGODB_HOST=0.0.0.0
MONGODB_PORT=27017
MONGODB_DATABASE=goat-it

# Internationalization Configuration
# Locale used when no locale is specified in headers or when desired locale is not available
FALLBACK_LOCALE=en

# Authentication Configuration
# Key used to access admin API endpoints (starts with /admin)
ADMIN_API_KEY=admin_api_key
# Key used to any other game API endpoints
GAME_API_KEY=game_api_key
